<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webtoonsalad.mapper.ReportMapper">

    <!-- 플랫폼 별 웹툰 찜한 비율 -->
    <select id="getPlatformRatio" resultType="map">
        SELECT webtoon.provider, COUNT(*) AS count
        FROM tbl_jjim jjim
        JOIN tbl_webtoon webtoon ON jjim.tbl_webtoon_id = webtoon.id
        WHERE jjim.tbl_user_id = #{userId}
        GROUP BY webtoon.provider
    </select>

    <!-- 요일 별 웹툰 찜한 비율 -->
    <select id="getWeekdayRatio" resultType="map">
        SELECT webtoon.updatedays, COUNT(*) AS count
        FROM tbl_jjim jjim
        JOIN tbl_webtoon webtoon ON jjim.tbl_webtoon_id = webtoon.id
        WHERE jjim.tbl_user_id = #{userId}
        GROUP BY webtoon.updatedays
    </select>

    <!-- 현재 사용자의 웹툰 찜 수와 전체 사용자의 순위 -->
    <select id="getUserJjimCountRank" resultType="map">
        SELECT tbl_user_id, count, 
               DENSE_RANK() OVER (ORDER BY count DESC) AS rank
        FROM (
            SELECT tbl_user_id, COUNT(*) AS count
            FROM tbl_jjim
            GROUP BY tbl_user_id
        ) t
        ORDER BY rank
    </select>


</mapper>
