<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.webtoonsalad.mapper.WagleMapper">

	<select id="selectWagleList" resultType="com.webtoonsalad.dto.WagleListDTO">
		SELECT ROW_NUMBER() OVER (ORDER BY w.create_date DESC) AS row_number,
		       w.title AS title,
		       u.name AS name,
		       w.create_date AS create_date,
		       w.view_cnt AS view_cnt,
		       w.rec_cnt AS recommend_cnt
		FROM tbl_wagle w, tbl_user u
		WHERE w.tbl_user_id = u.id
		ORDER BY w.create_date DESC
		OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY
	</select>
	
	<insert id="insertWagle" parameterType="com.webtoonsalad.dto.WagleCreateDTO">
		INSERT INTO tbl_wagle (
			title
		  , create_date
		  , view_cnt
		  , rec_cnt
		  , content
		  , content_file
		  , tbl_user_id
		)
		VALUES (
			#{title}
		  , sysdate
		  , #{view_cnt}
		  , #{rec_cnt}
		  , #{content}
		  , #{content_file, jdbcType=VARCHAR}
		  , #{user_id}
		)
	</insert>
	
	<insert id="insertSelectKeyWagle" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO tbl_wagle (
            title
            , create_date
            , view_cnt
            , rec_cnt
            , content
            , content_file
            , tbl_user_id
        )
        VALUES (
			 #{title}
		   , sysdate
		   , #{view_cnt}
		   , #{rec_cnt}
		   , #{content}
		   , #{content_file, jdbcType=VARCHAR}
		   , #{user_id}
        )
    </insert>
    
    <select id="detailWagle" resultType="com.webtoonsalad.dto.WagleDetailDTO">
    	SELECT * FROM TBL_WAGLE WHERE id = #{id}
    </select>

</mapper>