<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webtoonsalad.mapper.WebtoonMapper">

	<update id="updateLastup" parameterType="String">
		UPDATE tbl_webtoon
		SET lastup = SYSDATE
		WHERE id = #{id}
	</update>

	<select id="getAllWebtoonList"
		resultType="com.webtoonsalad.dto.WebtoonDTO">
		SELECT title, thumbnail1, thumbnail2
		FROM tbl_webtoon
	</select>

	<select id="getDaysWebtoonList"
		resultType="com.webtoonsalad.dto.WebtoonDTO">
		SELECT title
		FROM tbl_webtoon
		WHERE updateDays Like "%MON%"
	</select>

</mapper>