@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
}

h1 {
	margin-bottom: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #ddd;
}

.middleSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    margin: 40px 0;
}

.wagleList {
    flex-grow: 1;
    min-width: 800px;
    padding: 25px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.wagleSection {
	width: 100%;
	height: 100%;
}

.rightAd {
    width: 20%;
    min-width: 160px;
    padding: 20px;
    background-color: lightblue;
}

.pageTitle {
	margin-bottom: 45px;
}

.input {
	width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 15px;
}

#titleInput {
	height: 50px;
	background-color: lightgray;
	margin-bottom: 30px;
}

#contentInput {
	height: 400px;
	background-color: white;
	margin-bottom: 50px;
	resize: none;
}

.buttonSection {
	display: flex;
	justify-content: flex-end;
	height: 40px;
}

.wagleButton {
	width: 65px;
	margin-left: 20px;
	border-radius: 15px;
	border: 1px solid lightgray;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	color: #ffa500;
}

.search-bar input {
	padding: 5px;
	font-size: 16px;
}

footer {
	padding: 20px;
	text-align: center;
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
}
