body {
    font-family: Arial, sans-serif;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

main {
    display: flex;
    padding: 20px;
}

section.webtoon-detail {
    flex: 1;
}

.webtoon-info {
    display: flex;
    align-items: center;
}

.thumbnail-container {
    position: relative;
    width: 150px;
    height: 300px;
    margin-right: 20px;
}

.thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.details {
    display: flex;
    flex-direction: column;
}

.details h2 {
    margin: 0;
}

.details p {
    margin: 5px 0;
}

.btn-jjim, .btn-view, .btn-ad {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

.btn-jjim {
    background-color: #ff6666;
    border: none;
    color: white;
}

.btn-view {
    background-color: #ddd;
    border: none;
}

#commentInputSection {
   display: flex;
   flex-direction: column; /* Flex 방향을 세로로 변경 */
   padding: 20px 10px; /* 내부 여백 */
   border-radius: 20px; /* 더 둥근 모서리 */
   margin-bottom: 15px; /* 댓글 간 간격 */
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

#commentInputSection:hover {
   background-color: #F7F7F2;
}

#commentInputSection label {
   margin-bottom: 10px;
   font-size: 16px;
   font-weight: bold;
}

#commentInputSection input[type="text"] {
   flex: 1;
   margin-right: 10px;
   border-radius: 30px;
   padding: 10px; /* 내부 여백 증가 */
   font-size: 14px;
   border: 2px solid #ddd; /* 추가된 테두리 */
   outline: none; /* 포커스 시 기본 테두리 제거 */
}

#commentInputSection input[type="text"]:focus {
   border-color: #FFD700; /* 포커스 시 테두리 색상 변경 */
}

#commentInputSection button {
   height: 40px;
   background-color: #E74C3C;
   color: white;
   cursor: pointer; /* 호버 시 포인터 커서 */
   font-size: 14px; /* 버튼 텍스트 크기 */
   padding: 10px 15px; /* 버튼 내부 여백 증가 */
   border-radius: 5px; /* 둥근 모서리 */
   border: none;
   transition: background-color 0.3s; /* 배경색 전환 효과 추가 */
}

#commentInputSection button:hover {
   background-color: #C0392B;
}

.CommentWrite {
   display: flex;
   align-items: center;
}

.comment {
    padding: 15px; /* 내부 여백 */
    border-radius: 20px; /* 더 둥근 모서리 */
    display: flex;
    flex-direction: column; /* Flex 방향을 세로로 변경 */
    margin-bottom: 15px; /* 댓글 간 간격 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

.comment-header {
    font-size: 16px; /* "내 한줄평:" 텍스트 크기 */
    margin-bottom: 10px; /* strong과 댓글 내용 간격 */
}

.comment-content {
    overflow: hidden;
    margin-bottom: 10px; /* 댓글 내용과 버튼 간격 */
}

.comment-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comment .btn-like {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px; /* 버튼 사이 여백 */
}

.comment .btn-edit, .comment .btn-delete {
    background-color: #E74C3C;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px; /* 버튼 사이 여백 */
}

.comment .btn-edit:hover, .comment .btn-delete:hover {
    background-color: #C0392B;
}

.comment .create-date {
    color: #999;
    font-size: 0.9em;
    margin-left: 10px;
}

.ad-placeholder {
    margin-top: 20px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 40px;
}

.review-card-section {
   text-align: left;
}

.review-card {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0 15px 20px 15px;
    border-radius: 8px;
    padding: 16px;
    width: 275px;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
    margin-right: 8px;
}

.review-text {
    margin-top: 12px;
    margin-bottom: 16px;
    color: #333;
    line-height: 1.5;
    height: 220px;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.like-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn-like {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size : 20px;
    cursor: pointer;
}

.btn-like:hover {
    color: #ff4500; /* 호버 시 텍스트 색상 변경 */
    transform: scale(1.1); /* 호버 시 약간 커지는 효과 추가 */
}

.create-date {
    text-align: right;
    color: #999;
    font-size: 0.9em;
}


