.advertisement {
    width: 10%;
    padding-right: 20px;
}

.ad {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px; /* 둥근 모서리 추가 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    transition: transform 0.2s; /* 호버 효과 추가 */
}

.ad:hover {
    transform: scale(1.01); /* 호버 시 확대 효과 */
}

.ad img {
    max-width: 100%;
    border-radius: 5px; /* 이미지 둥근 모서리 */
    margin-bottom: 10px;
}

.ad p {
    margin: 10px 0;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.github-link {
    display: inline-block;
    margin-bottom: 10px;
}

