header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* .logo .webtoon { */
/*     color: #FFBC00; */
/* } */

/* .logo .salad { */
/*     color: #4CAF50; */
/* } */

/* .logo .logo-image { */
/*     margin-right: 10px; */
/*     height: 100px; */
/* } */

.logo .text-logo-image {
    margin-right: 10px;
    height: 80px;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #444;
}

.search-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.results {
    position: absolute;
    top: 50px; /* 이 값을 조정하여 결과를 입력 필드 아래에 배치 */
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    background-color: #fff;
    z-index: 1000; /* 결과가 다른 요소 위에 나타나도록 하는 요소 */
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item:hover {
    background-color: #f1f1f1;
}

.search-thumbnail-container {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.search-thumbnail1, .search-thumbnail2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

