.right_advertisement {
	display: flex;
	justify-content: center;
    width: 12.5%;
    padding-right: 15px;
    padding-left: 15px;
}

.top_down_button {
	position: fixed;
	width: 40px;
	height: 40px;
	margin-top: 400px;
	background-color: #f8f8f8;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}

.top_down_button:hover {
	background-color: #eee;
}
